table, th, td {
    border:1px solid black;
  }


  .choose-file{
    background-image: linear-gradient(to right, #05743c , #05cb6a);
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    padding: 11px;
    margin-top: 10px;
    
}
.choose-file:hover {
    background-image: linear-gradient(to right, #05cb6a , #68c143);
    color: #fff;
	transition: 0.3s;
}